# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Maven #
/target/

# Eclipse #
/.classpath
/.project
/.settings/
/result-DemonstrateParadigm.txt
*.bak

# Idea #
.idea/
*.iml

/output*

/ObjectStore/

uuid.txt
export.xml
cookies.txt

# Vim #
.*.sw*
at3_1m4_01.tif
at3_1m4_02.tif
at3_1m4_03.tif
at3_1m4_05.tif
at3_1m4_06.tif
